<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ConfiguredParts" type="MEFCustomProgrammingModelDemo.ConfiguredParts, MEFCustomProgrammingModelDemo" />
  </configSections>

  <ConfiguredParts>
    <Parts>
      <Part Type="MEFCustomProgrammingModelDemo.WorkerA" Contract="MEFCustomProgrammingModelDemo.WorkerA">
        <Metadata>
          <Add Name="Version" Value="2.0" />
        </Metadata>
        <Imports>
          <Import Type="MEFCustomProgrammingModelDemo.Logger" Contract="ConsoleLogger" Cardinality="ExactlyOne" AllowDefault="false" AllowRecomposition="false" />
        </Imports>
      </Part>
      <Part Type="MEFCustomProgrammingModelDemo.Logger" Contract="ConsoleLogger" />
    </Parts>
    
  </ConfiguredParts>
  
</configuration>